/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --page-bg-image: url("../images/cover-image-dark.png");
  --page-bg-color: rgba(0, 0, 40, 1); 
  --accent-color: #ff0070;
  --text-color: rgba(241, 178, 206, 1);
}





  