/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --accent-color: #ff8dcb;
  --page-bg-image: url("../images/cover-image-light.png");
  --page-bg-color: rgba(255, 241, 247, 1); 
  --text-color: rgba(53, 52, 48, 1); 
  --subtitle-color: rgba(53, 52, 48, 1);
  --header-paragraph: rgba(53, 52, 48, 1);
  --header-button: rgba(53, 52, 48, 1);
  --header-corner: rgba(53, 52, 48, 1);
  --title-color: rgba(53, 52, 48, 1);
  --outline-color: rgba(53, 52, 48, 1);
  --title-header-color: rgba(255, 194, 230, 1);
  --sub-subtitle-text: rgba(53, 52, 48, 1);
  --light-visibility: none; 
  --link-color: rgba(53, 52, 48, 1);
  --outline-color-hover: rgba(50, 49, 45, 0.4); 
} 
